.search-bar {
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    bottom: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto; */
}

.form {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    padding: 2px;
}

.serach {
    flex-grow: 2;
    border: none;
}

